<!DOCTYPE html>
<html>
  <head>
    <title>microTrx</title>
    <link type='css' rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
   <div class="container">

    <% include nav %>

    <h2>About Us</h2>
    <p>
    The microTrx project is an open source collection of software geared towards implementing Bitcoin Payment Channels.  Payment Channels hold the promise of allowing senders and recievers to almost entirely get rid of the transaction fees associated with bitcoin payments.
    </p>

    <p>
      Though many people are assuming Bitcoin will be a joke to look back at in 10 years, we think different.  We believe Bitcoin has the potential to bring billions of people into the world banking system, to allow money to transfer instantly and freely between people, and to spawn new and unimaginable industries through its programmable systems.
    </p>

    <h4>James</h4>

    <p>James has been slinging code since HotDog Pro on his 486 with 4 MB of Ram.  Not only does he do this for an actual day job, but he comes home at night and does more for fun.  He has 10+ years in software development and is currently focusing on Security Management software for large companies.
    </p>
    <p>You can reach James by emailing James + AT + microtrx.com</p>

    <h4>Jonathan</h4>

    <p>Jonathan’s background in Banking and early stage startups is helping us figure out why and who will use these services.  If you have any tips, or want to discuss the possibility of using the APIs in your product, shoot him an email.
    </p>
    <p>You can reach Jonathan by emailing Jonathan + AT + microtrx.com</p>

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="javascripts/jquery-2.1.1.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>

  </body>
</html>
