<!DOCTYPE html>
<html>
  <head>
    <title>microTrx</title>
    <link type='css' rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
   <div class="container">
      <% include ../nav %>

      <div class="alert alert-warning" role="alert">Alert!  This API has been disabled while it is being re-implemented following BIP-32 HD Wallets.  This will allow payments addresses to be generated directly for the end user without forwarding.</div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Random Address </h3>
        </div>
        <div class="panel-body">
          <div id="random-address" class="well"></div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Address Registration</h3>
        </div>
        <div class="panel-body">


            <div class="form-group">
              <label>Your public Bitcoin address you would like to register</label>
              <input type="text" class="form-control" rows="3" id="register-address-input" value="" placeholder="e.g. 1ER5pwPacNQ33UsGNRiUtZ7MnQzei9RTNm"></input>

              <br />
              <label>Payment Send Threshold.  Value received from Micropayment Channels will be send once it reaches this threshold. (.0002 to .01)</label>
              <input type="text" class="form-control" rows="3" id="register-threshold-input" value=".001" placeholder=""></input>
            </div>

            <button id="register-address-button" type="submit" class="btn btn-default" >Register</button>
         <br />
         <br />

         <h5>Response</h5>
         <div id="register-response" class="well"></div>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New Payment Address Request</h3>
        </div>
        <div class="panel-body">


            <div class="form-group">
              <label>Your public Bitcoin address you would like to use to generate a new payment address.</label>
              <input type="text" class="form-control" rows="3" id="get-payment-address-input" value="" placeholder="e.g. 1ER5pwPacNQ33UsGNRiUtZ7MnQzei9RTNm" />
              <br />
              <label>Security Token associated with your public Bitcoin address.</label>
              <input type="text" class="form-control" rows="3" id="get-payment-token-input" value=""  />
              <br />
              <label>Amount requesting for payment (min. 0.0002)</label>
              <input type="text" class="form-control" rows="3" id="get-payment-amount-input" value="0.0002"></input>
            </div>

            <button id="get-payment-address-button" type="submit" class="btn btn-default" >Request</button>
         <br />
         <br />

         <h5>Response</h5>
         <div id="get-payment-response" class="well"></div>

         <h5>QR Code For Payment Address</h5>
         <div id="qr-code"></div>

        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Verify Payment</h3>
        </div>
        <div class="panel-body">


            <div class="form-group">
              <label>Payment address to verify payment amount was sent</label>
              <input type="text" class="form-control" rows="3" id="verify-payment-input" value="" placeholder="e.g. 1ER5pwPacNQ33UsGNRiUtZ7MnQzei9RTNm"></input>


              <br />
              <label>Timeout in seconds</label>
              <input type="text" class="form-control" rows="3" id="verify-payment-timeout" value="1"></input>

            </div>

            <button id="verify-payment-button" type="submit" class="btn btn-default" >Request</button>
         <br />
         <br />

         <h5>Response</h5>
         <div id="verify-payment-response" class="well"></div>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Payment History</h3>
        </div>
        <div class="panel-body">


            <div class="form-group">
              <label>Registered Public Address</label>
              <input type="text" class="form-control" rows="3" id="get-history-input" value="" placeholder="e.g. 1ER5pwPacNQ33UsGNRiUtZ7MnQzei9RTNm"></input>

              <br />
              <label>Security Token associated with your public Bitcoin address.</label>
              <input type="text" class="form-control" rows="3" id="get-history-token-input" value=""  />

              <br />
              <label>Start Page</label>
              <input type="text" class="form-control" rows="3" id="get-history-page-input" value="1"></input>

              <br />
              <label>Items Per Page</label>
              <input type="text" class="form-control" rows="3" id="get-history-page-count-input" value="10"></input>

            </div>

            <button id="get-history-button" type="submit" class="btn btn-default" >Get History</button>
         <br />
         <br />

         <h5>Response</h5>
         <div id="get-history-response" class="well"></div>

        </div>
      </div>

   </div>


   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="javascripts/jquery-2.1.1.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>


    <script src="javascripts/bundle.js"></script>
    <script src="javascripts/jquery.qrcode.min.js"></script>
    <script src="javascripts/simple.client.js"></script>

  </body>
</html>
