<!DOCTYPE html>
<html>
  <head>
    <title>microTrx</title>
    <link type='css' rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
   <div class="container">
      <% include ../nav %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Random Public Key (for testing)</h3>
        </div>
        <div class="panel-body">
          <div id="random-key" class="well"></div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Address Registration</h3>
        </div>
        <div class="panel-body">


            <div class="form-group">
              <label>Your BIP38 Public Key you would like to register</label>
              <input type="text" class="form-control" rows="3" id="register-key-input" value="" placeholder="e.g. xpub661MyMwAqRbcFBZoQf8P4UgHnVZQYLAdFSc2ETgubGurYoDx6S77fgLtxCWdUGSMfkDaeChqWiG5FPkgFZryVCAWFYippE8LWU53yztqWxf"></input>

              <label>Enter your wallet type (bip44 or bip32)</label>
              <input type="text" class="form-control" rows="3" id="register-walletType-input" value="bip44" ></input>

            </div>

            <button id="register-key-button" type="submit" class="btn btn-default" >Register</button>
         <br />
         <br />

         <h5>Response</h5>
         <div id="register-response" class="well"></div>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New Payment Address Request</h3>
        </div>
        <div class="panel-body">


            <div class="form-group">
              <label>Your public key you would like to use to generate a new payment address.</label>
              <input type="text" class="form-control" rows="3" id="get-payment-key-input" value="" placeholder="e.g. xpub661MyMwAqRbcFBZoQf8P4UgHnVZQYLAdFSc2ETgubGurYoDx6S77fgLtxCWdUGSMfkDaeChqWiG5FPkgFZryVCAWFYippE8LWU53yztqWxf" />
              <br />
              <label>Amount requesting for payment (min. 0.0002)</label>
              <input type="text" class="form-control" rows="3" id="get-payment-amount-input" value="0.0002"></input>
            </div>

            <button id="get-payment-address-button" type="submit" class="btn btn-default" >Request</button>
         <br />
         <br />

         <h5>Response</h5>
         <div id="get-payment-response" class="well"></div>

         <h5>QR Code For Payment Address</h5>
         <div id="qr-code"></div>

        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Verify Payment</h3>
        </div>
        <div class="panel-body">


            <div class="form-group">
              <label>Payment address to verify payment amount was sent</label>
              <input type="text" class="form-control" rows="3" id="verify-payment-input" value="" placeholder="e.g. 1ER5pwPacNQ33UsGNRiUtZ7MnQzei9RTNm"></input>


              <br />
              <label>Timeout in seconds</label>
              <input type="text" class="form-control" rows="3" id="verify-payment-timeout" value="1"></input>

            </div>

            <button id="verify-payment-button" type="submit" class="btn btn-default" >Request</button>
         <br />
         <br />

         <h5>Response</h5>
         <div id="verify-payment-response" class="well"></div>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Payment History</h3>
        </div>
        <div class="panel-body">


            <div class="form-group">
              <label>Registered Public Address</label>
              <input type="text" class="form-control" rows="3" id="get-history-input" value="" placeholder="e.g. xpub661MyMwAqRbcFBZoQf8P4UgHnVZQYLAdFSc2ETgubGurYoDx6S77fgLtxCWdUGSMfkDaeChqWiG5FPkgFZryVCAWFYippE8LWU53yztqWxf"></input>

              <br />
              <label>Start Page</label>
              <input type="text" class="form-control" rows="3" id="get-history-page-input" value="1"></input>

              <br />
              <label>Items Per Page</label>
              <input type="text" class="form-control" rows="3" id="get-history-page-count-input" value="10"></input>

            </div>

            <button id="get-history-button" type="submit" class="btn btn-default" >Get History</button>
         <br />
         <br />

         <h5>Response</h5>
         <div id="get-history-response" class="well"></div>

        </div>
      </div>

   </div>


   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/javascripts/jquery-2.1.1.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bitcore.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <script src="/javascripts/jquery.qrcode.min.js"></script>
    <script src="/javascripts/simple.client.js"></script>

  </body>
</html>
