<!DOCTYPE html>
<html>
  <head>
    <title>microTrx</title>

    <script type="text/javascript">
      document.createElement('video');document.createElement('audio');document.createElement('track');
    </script>

  </head>
  <body>
   <div class="container">
      <% include ../nav %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sample Video Player</h3>
        </div>
        <div class="panel-body">

          <video id="example_video_1" class="video-js vjs-default-skin"
            controls preload="auto" width="640" height="264">
           <source src="http://techslides.com/demos/sample-videos/small.mp4" type='video/mp4' />
           <source src="http://techslides.com/demos/sample-videos/small.webm" type='video/webm' />
           <source src="http://techslides.com/demos/sample-videos/small.ogv" type='video/ogg' />
           <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>

        </div>
      </div>

    <link type='css' rel='stylesheet' href='/stylesheets/bootstrap.min.css' />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/javascripts/jquery-2.1.1.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bitcore.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <script src="/javascripts/jquery.qrcode.min.js"></script>
    <script src="/javascripts/video.example.js"></script>

    <link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/4.12/video.js"></script>

  </body>
</html>
